.post-list{
  text-align: center;
  width:90%;
  max-width:900px;
  margin:0 auto;
  padding:50px 20px;
  background-color: #eee;
}

.single-post{
  background-color:#fefefe;
  padding: 20px 0;
  border:1px solid #222;
}

.btn{
  padding: 10px 20px;
  background-color: #d02200;
  text-decoration: none;
  color:#f0f0f0;
}
.form-control{
  margin-left:10px;
  padding: 10px 20px;
  margin-bottom:20px;
}

form{
  margin:20px;
}