.App {
  text-align: center;
  width:90%;
  max-width:900px;
  margin:0 auto;
  padding:50px 20px;
  background-color: #eee;
}

.post-list{
  border:1px solid #222;
}

.single-post{
  background-color:#fefefe;
  padding: 20px 0;
}
